.features {
    &__inner {
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 96px  auto 80px auto; 
        padding: 25px 0;
        gap: 64px ; 
    }

    &__inner-content {
        flex: 0 0 42%;
      
        @media(max-width:1186px) {
            
            flex: 0 0 100%;
            padding: 62px 0;
            flex-wrap: wrap;
        }

    }
    &__inner-content-wrapper {
        margin: 25px 0 32px 0;

    }
    
    &__inner-img {
    flex: 0 0 50%;
    @media(max-width:1186px) {
            flex: 0 0 100%;
       display: flex;
       justify-content: center;
    }

    &--bg {
        @media(max-width:650px) {
            max-width: 100%;
            width: 500px;

            
        }
        }
    }



}
.testimonials__arrow {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

}




