$clr-primary-black:#111928;
$clr-secondary-blue:#7E3AF2;
$clr-orange: orange;
$clr-white:#fff;
$clr-grey:#6B7280;


/* Variables*/
// :root {
//     /* primary colors*/
// --clr-primary-black:#111928;
// --clr-secondary-blue:#7E3AF2;

// // colors-outher//
// --clr-black: #000;
// --clr-white: #fff;
// --clr-gray: gray;
// --clr-lightGrey:#ccc;
// --clr-red:red;
// --clr-blue:blue;
// --clr-green:green;

// //font family//
// --ff-systemsFonts: system-ui, -apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

//   //break-points//
//     --bp-480: 1200px;
//     --bp-992: 992px;
//     --bp-768: 768px;
//     --bp-480: 480px;
//     --bp-320: 320px;
//   }

